<footer id="footer">
  <div class="footer-container">
    <div class="footer-column">
      <p><span>Quick Links</span></p>
      <ul>
        <li>
          <a href="/products"><span>Shop</span></a>
        </li>
        <li>
          <a href="/user/register"> <span>Sign Up</span></a>
        </li>
        <li>
          <a href="/user/login"><span>Log In</span></a>
        </li>
        <li>
          <a href="/checkout"><span>Checkout</span></a>
        </li>
        <li>
          <a href="/cart"><span>View Cart</span></a>
        </li>
        <li>
          <a href="/"><span>Go home</span></a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <p><span>Dependencies</span></p>
      <ul>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
        <li>
          <a href="#"><span>Depend</span></a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <p><span>Social</span></p>
      <div class="social-icons"></div>
      <div class="feedback">
        <div class="form-group">
          <div><label for="email">Email</label></div>
          <div><input type="email" name="email" id="feedemail" /></div>
          <div><label for="content">Send us your feedback</label></div>
          <div>
            <textarea name="content" id="content" cols="30" rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blurb"></div>
</footer>
