<footer id="footer">
  <div class="footer-container">
    <div class="footer-column">
      <p><span>Quick Links</span></p>
      <ul>
        <li>
          <a href="/products"><span>Shop</span></a>
        </li>
        <li>
          <a href="/user/register"> <span>Sign Up</span></a>
        </li>
        <li>
          <a href="/user/login"><span>Log In</span></a>
        </li>
        <li>
          <a href="/checkout"><span>Checkout</span></a>
        </li>
        <li>
          <a href="/products/cart"><span>View Cart</span></a>
        </li>
        <li>
          <a href="/"><span>Go home</span></a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <p><span>Made With</span></p>
      <ul>
        <li>
          <a href=""><span>HTML</span></a>
        </li>
        <li>
          <a href=""><span>CSS</span></a>
        </li>
        <li>
          <a href=""><span>JS</span></a>
        </li>
        <li>
          <a href="https://ejs.co/" target="_blank"><span>EJS</span></a>
        </li>
        <li>
          <a href="https://nodejs.org/en/" target="_blank"
            ><span>NodeJs</span></a
          >
        </li>
        <li>
          <a href="https://expressjs.com/" target="_blank"
            ><span>Express</span></a
          >
        </li>
        <li>
          <a href="https://www.mongodb.com/" target="_blank"
            ><span>MongoDb</span></a
          >
        </li>
        <li>
          <a href="https://joi.dev/api/" target="_blank"><span>Joi</span></a>
        </li>
        <li>
          <a href="https://stripe.com/" target="_blank"><span>Stripe</span></a>
        </li>
        <li>
          <a href="https://fonts.google.com/" target="_blank"
            ><span>Google Fonts</span></a
          >
        </li>
        <li>
          <a href="https://fontawesome.com/" target="_blank"
            ><span>Font Awesome</span></a
          >
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <p><span>Reach Out</span></p>
      <div class="social-icons">
        <div class="icon linkedin">
          <a
            href="https://www.linkedin.com/in/nicholas-orth-215a5a159/"
            target="_blank"
            ><i class="fa-brands fa-linkedin fa-xl"></i
          ></a>
        </div>
        <div class="icon github">
          <a href="https://github.com/mocker-nicholas"
            ><i class="fa-brands fa-github fa-xl" target="_blank"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="blurb"></div>
</footer>
