<section class="navbar-container">
  <nav id="navbar" class="navbar">
    <div class="nav-flex-item">
      <ul class="nav-ul">
        <li class="nav-item"><a href="/">STRIPES.CO</a></li>
      </ul>
    </div>
    <div class="nav-flex-item">
      <div class="nav-ul">
        <% if(!currentUser) { %>
        <li class="nav-item"><a href="/products">Products</a></li>
        <li class="nav-item"><a href="/products/cart">Cart</a></li>
        <li class="nav-item"><a href="/user/register">Sign Up</a></li>
        <li class="nav-item"><a href="/user/login">Login</a></li>
        <%} else {%>
        <li class="nav-item"><a href="/products">Products</a></li>
        <li class="nav-item"><a href="/products/cart">Cart</a></li>
        <li class="nav-item"><a href="/user/logout">Logout</a></li>
        <li class="nav-item">
          <a href="/user/<%=currentUser._id%>"
            ><%=currentUser.username%> <% if(currentUser.isadmin === true){ %>
            ADMIN <%}%>
          </a>
        </li>
        <%}%>
      </div>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  <nav class="small-nav hide">
    <ul class="small-nav-list">
      <li class="small-nav-item"><a href="/products">Products</a></li>
      <li class="small-nav-item"><a href="/products/cart">Cart</a></li>
      <% if(!currentUser) { %>
      <li class="small-nav-item"><a href="/user/register">Sign Up</a></li>
      <li class="small-nav-item"><a href="/user/login">Login</a></li>
      <%} else {%>
      <li class="small-nav-item">
        <a href="/user/<%=currentUser._id%>"
          ><%=currentUser.username%> <% if(currentUser.isadmin === true){ %>
          ADMIN <%}%></a
        >
      </li>
      <li class="small-nav-item"><a href="/user/logout">Logout</a></li>
      <%}%>
    </ul>
  </nav>
  <% if(currentUser && currentUser.isadmin === true) {%>
  <nav class="admin-nav">
    <ul>
      <li><a href="/products/new">Add a product</a></li>
    </ul>
  </nav>
  <%}%>
</section>
