<section class="navbar-container">
  <nav id="navbar" class="navbar">
    <div class="nav-flex-item">
      <ul class="nav-ul">
        <li class="nav-item"><a href="/">STRIPES.CO</a></li>
      </ul>
    </div>
    <div class="nav-flex-item">
      <ul class="nav-ul">
        <li class="nav-item">
          <a id="shop" href="/products">Shop!</a>
          <ul class="nest-nav hide dropdown">
            <li class="nest-nav-item"><a href="/products">Products</a></li>
            <li class="nest-nav-item"><a href="/checkout">Checkout</a></li>
            <li class="nest-nav-item"><a href="/cart">Cart</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav-flex-item">
      <div class="nav-ul">
        <li class="nav-item"><a href="/user/register">Sign Up</a></li>
        <li class="nav-item"><a href="/user/login">Login</a></li>
      </div>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  <nav class="small-nav hide">
    <ul class="small-nav-list">
      <li class="small-nav-item"><a href="/products">Products</a></li>
      <li class="small-nav-item"><a href="/checkout">Checkout</a></li>
      <li class="small-nav-item"><a href="/cart">Cart</a></li>
      <li class="small-nav-item"><a href="/user/register">Sign Up</a></li>
      <li class="small-nav-item"><a href="/user/login">Login</a></li>
    </ul>
  </nav>
</section>
