<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/headerlinks')%>
    <link rel="stylesheet" href="css/homepage.css" />
    <script src="js/pubhomepage.js"></script>
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('./partials/navbar')%></header>
    <h1>Show Your Stripes</h1>
  </body>
</html>

<!-- https://media.istockphoto.com/photos/night-in-asia-picture-id1303337324?b=1&k=20&m=1303337324&s=170667a&w=0&h=dXMX6v6yC0XMW_nrDFUhYCTVaQPB8vfcKgwXye2cBV8= -->
