<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/headerlinks')%>
    <link rel="stylesheet" href="css/homepage.css" />
    <script src="js/pubhomepage.js"></script>
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('./partials/navbar')%></header>

    <section id="hero">
      <div class="hero-container">
        <a href="/products" id="shop-button">Shop Now</a>
      </div>
    </section>

    <section id="jump-to">
      <ul class="jump-links">
        <li class="jump-link-item"><a href="/products/shoes">Shoes</a></li>
        <li class="jump-link-item"><a href="/products/pants">Pants</a></li>
        <li class="jump-link-item"><a href="/products/socks">Socks</a></li>
        <li class="jump-link-item"><a href="/products/seaters">Sweaters</a></li>
        <li class="jump-link-item"><a href="/products/shirts">Shirts</a></li>
      </ul>
    </section>

    <section id="rewards">
      <div class="rewards-container">
        <div class="rewards-form">
          <form action="" id="reward-form" method="">
            <h2>Get rewarded for being wild!</h2>
            <div class="form-group">
              <div>
                <label for="firstname">First Name</label>
              </div>
              <div>
                <input type="text" placeholder="First Name" id="firstname" />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="lastname">Last Name</label>
              </div>
              <div>
                <input type="text" placeholder="Last Name" id="lastname" />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="email">Email</label>
              </div>
              <div>
                <input type="text" placeholder="Email Address" id="email" />
              </div>
            </div>
          </form>
        </div>
        <div class="rewards-image">
          <img
            src="https://images.unsplash.com/photo-1586957469525-7850e7bef283?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGp1bmdsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
      </div>
    </section>
    <%-include('./partials/bodyscripts')%>
  </body>
</html>
