<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/headerlinks')%>
    <link rel="stylesheet" href="css/homepage.css" />
    <script src="js/pubhomepage.js"></script>
    <title>Stripes</title>
  </head>
  <body>
    <header>
      <nav id="navbar" class="navbar">
        <div class="nav-flex-tem">
          <ul class="nav-ul">
            <li class="nav-item">STRIPES</li>
          </ul>
        </div>
        <div class="nav-flex-item">
          <ul class="nav-ul">
            <li class="nav-item">
              Shop!
              <ul class="nest-nav">
                <li class="nest-nav-item"><a href="/products">Products</a></li>
                <li class="nest-nav-item"><a href="/checkout">Checkout</a></li>
                <li class="nest-nav-item"><a href="/cart">Cart</a></li>
              </ul>
            </li>
            <li class="nav-item"><a href="user/register">Sign Up</a></li>
            <li class="nav-item"><a href="user/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <h1>Show Your Stripes</h1>
  </body>
</html>

<!-- https://media.istockphoto.com/photos/night-in-asia-picture-id1303337324?b=1&k=20&m=1303337324&s=170667a&w=0&h=dXMX6v6yC0XMW_nrDFUhYCTVaQPB8vfcKgwXye2cBV8= -->
