<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/headerlinks')%>
    <link rel="stylesheet" href="css/homepage.css" />
    <script src="js/pubhomepage.js"></script>
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('./partials/navbar')%></header>

    <section id="hero">
      <div class="hero-container">
        <a href="/products" id="shop-button">Shop Now</a>
      </div>
    </section>

    <section id="jump-to">
      <ul class="jump-links">
        <li class="jump-link-item"><a href="/products">Products</a></li>
        <li class="jump-link-item"><a href="/checkout">Checkout</a></li>
        <li class="jump-link-item"><a href="/cart">Cart</a></li>
      </ul>
    </section>
    <%-include('./partials/bodyscripts')%>
  </body>
</html>
