<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/headerlinks')%>
    <link rel="stylesheet" href="css/homepage.css" />
    <script src="js/pubhomepage.js"></script>
    <title>Stripes</title>
  </head>
  <body>
    <h1>Show Your Stripes</h1>
    <form action="user/register" method="GET">
      <button>Sign Up!</button>
    </form>
    <form action="user/login" method="GET">
      <button>Login</button>
    </form>
    <form action="/products" method="GET">
      <button>Products</button>
    </form>
    <form action="/checkout" method="GET">
      <button>Checkout</button>
    </form>
    <form action="/cart" method="GET">
      <button>View My Cart</button>
    </form>
  </body>
</html>
