#create-product {
  padding: 1rem;
  min-height: 50vh;
  display: flex;
  justify-content: center;
}

.product-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-img {
  max-height: 600px;
}

.prod-img img {
  max-width: 100%;
  max-height: 600px;
}

.prod-info {
  padding: 1rem;
  min-width: 40%;
  max-width: 50%;
}

/* I could have used id here, but wanted to try using an attribute selector. Im learning! */
select[name="size"] {
  font-size: 1rem;
  padding: 0 0.25rem;
}

.button {
  min-width: 6rem;
}

.buttons {
  display: flex;
  align-items: center;
}

#deleteProduct {
  margin-left: 1rem;
  font-size: 1rem;
  margin-top: 0;
  border: none;
  outline: none;
  background-color: red;
  color: var(--white);
  padding: 0.5rem;
  transition: 0.2s;
}

#deleteProduct:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

#deleteProduct:active {
  background-color: rgba(255, 0, 0, 0.5);
}

#updateProduct {
  margin-left: 1rem;
  font-size: 1rem;
  margin-top: 0;
  border: none;
  outline: none;
  background-color: green;
  color: var(--white);
  padding: 0.5rem;
  transition: 0.2s;
}

#updateProduct:hover {
  background-color: rgba(0, 255, 0, 0.7);
}

#updateProduct:active {
  background-color: rgba(0, 255, 0, 0.7);
}

@media screen and (max-width: 1046px) {
  #create-product {
    padding: 1rem 1rem;
  }
  .product-flex {
    flex-direction: column;
  }

  .prod-info {
    min-width: 90%;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    margin-bottom: 1rem;
  }

  #updateProduct, #deleteProduct {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
