#products {
  padding: 1rem;
}

.prod-filter {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.filter-links {
  display: flex;
  justify-content: space-evenly;
}

.filter-links a {
  background-color: var(--pink);
  color: var(--white);
  padding: 0.5rem 2rem;
  display: inline-block;
  transition: all 0.2s;
}

.filter-links a:hover {
  background-color: var(--opink);
  transform: translateY(-3px);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.filter-links a:active {
  background-color: var(--opink);
  transform: scale(0.9);
}

.products-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.featured-message {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.product {
  overflow-y: hidden;
  width: 280px;
  max-height: 400px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 auto;
}

.prod-img {
  width: 100%;
  height: 50%;
}

.prod-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.prod-content {
  background-color: var(--opink);
  color: var(--white);
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 1s ease;
}

.prod-content:hover {
  transform: translateY(-50%);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.prod-content-blue {
  background-color: var(--oblue);
  color: var(--white);
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 1s ease;
}

.prod-content-blue:hover {
  transform: translateY(-50%);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.prod-title {
  font-weight: bold;
  text-align: center;
}

.divide {
  background-color: var(--white);
  height: 2px;
  border-radius: 10px;
  margin: 0.25rem auto;
  width: 99%;
}

.divide-dark {
  background-color: var(--pink);
  height: 2px;
  border-radius: 10px;
  margin: 0.25rem auto;
  width: 99%;
}

.hover-info {
  text-align: center;
  margin-bottom: 4rem;
}

.price {
  margin-bottom: 1rem;
  font-weight: bold;
}

.view-prod {
  background-color: var(--white);
  color: var(--pink);
  padding: 0.5rem 2rem;
}

.view-prod:visited {
  color: var(--pink);
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.back {
  background-color: var(--blue);
  color: var(--white);
  width: 125px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.next {
  background-color: var(--pink);
  color: var(--white);
  width: 125px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back a:visited, 
.next a:visited {
  color: var(--white);
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1046px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .filter-links {
    flex-direction: column;
    align-items: center;
  }

  .filter-links a {
    padding: 0.25rem;
    text-align: center;
    margin-bottom: 4px;
    width: 95vw;
  }

  #products {
    padding: 0.25rem;
  }

  .product {
    margin: 0 auto;
  }

  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 275px;
  }
}
