#cart-display {
  min-height: 60vh;
}

.cart-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cart-items {
  background-color: var(--white);
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.item {
  background-color: rgba(220, 220, 220, 0.5);
  max-width: 60vw;
  min-width: 50vw;
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
}

.item-img {
  min-width: 300px;
  max-width: 350px;
  height: 350px;
}

.item-img img {
  width: 100%;
  height: 100%;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.item-info .title {
  font-weight: bold;
}

.checkout-info {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.nothing {
  margin-bottom: 0.75rem;
  margin-right: 250px;
}

#cart-display .cart-btn {
  color: var(--white);
  margin-bottom: 4rem;
  margin-right: 250px;
}

.center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#checkout-btn {
  color: var(--white);
  transition: all 0.4s;
  border: none;
}

#checkout-btn:active {
  transform: scale(0.9);
}

.back-to {
  background-color: var(--blue);
  color: var(--white);
  margin-top: 1rem;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.back-to:hover {
  transform: translateY(-4px);
}

.back-to:active {
  transform: scale(0.9);
}

.checkout {
  transition: all 0.2s;
}

.checkout:hover {
  transform: translateY(-3px);
}


@media screen and (max-width: 1046px) {
  .cart-container {
    flex-direction: column-reverse;
  }

  .item {
    max-width: 90vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .cart-container {
    padding: 0.5rem;
  }

  .checkout-info {
    margin-top: 1rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }

  .item-img {
    min-width: 150px;
    max-width: 300px;
    height: 175px;
    margin: 0 auto;
  }

  .item-img img {
    width: 100%;
    height: 100%;
  }

  .nothing {
    margin-bottom: 0.5rem;
    margin-right: 150px;
  }

  #cart-display .cart-btn {
    color: var(--white);
    margin-bottom: 4rem;
    margin-right: 175px;
    padding: 0.5rem 1.5rem;
  }
}
