.register-container {
  display: flex;
  height: 80vh;
  width: 100%;
}

.register-content {
  color: var(--white);
  background-image: url("https://images.unsplash.com/photo-1525124353074-04c2b1a035a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YW5pbWFsJTIwcHJpbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 50%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.register-content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 32, 110, 0.4);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.register-header {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.register-message {
  padding: 0 2rem;
  font-size: clamp(1rem, 2.5vw, 3rem);
  text-align: center;
  z-index: 1;
}

.register-ad {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  z-index: 1;
}

.register-ad p {
  color: var(--pink);
  background-color: var(--white);
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  border-radius: 10px;
  padding: 0.5rem;
}

/* Register form */
.register-form-space {
  background-image: var(--pink-fade);
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  padding: 1rem;
  background-color: rgba(255, 32, 110, 0.2);
}

.register-form form {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
