#user-info h1 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 3rem;
}

.user-info-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  min-height: 45vh;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(65, 105, 225);
  padding: 0.5rem;
}

.grid-item h2 {
  text-align: center;
}

.user-info-container li {
  margin: 0.25rem 0;
}

/* Modal Styling */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--white);
  margin: 0 0.5rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content .modal-message {
  margin-bottom: 0.75rem;
}

.modal-message form button {
  outline: none;
  border: none;
}

@media screen and (max-width: 1046px) {
  .user-info-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
