/* CSS Reset for all pages */
* {
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  box-sizing: border-box;
}

/* CSS variables for colors */
:root {
  --dark: rgb(12, 15, 10);
  --pink: rgb(255, 32, 110);
  --yellow: rgb(251, 255, 18);
  --blue: rgb(65, 234, 212);
  --white: rgb(255, 255, 255);

  --pink-gradient: linear-gradient(
    45deg,
    rgb(255, 32, 110),
    rgb(255, 32, 110),
    rgb(255, 255, 255),
    rgb(255, 32, 110),
    rgb(255, 32, 110)
  );

  --pink-fade: linear-gradient(
    77.5deg,
    rgba(255, 32, 110, 0.4),
    rgba(255, 32, 110, 1)
  );
}

/* General styles */
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

/* Generic page navbar */
.navbar-container {
  background-color: var(--dark);
  width: 100%;
}

#navbar {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: center;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-flex-item {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
}

.nav-ul li a {
  border-bottom: 2px solid transparent;
  color: var(--white);
}

.nav-ul li a:hover {
  border-bottom: 2px solid var(--pink);
}

.nav-item {
  margin: 1rem;
  position: relative;
}

.burger {
  background-color: var(--pink);
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1rem;
  padding: 8px;
  border-radius: 8px;
  display: none;
  cursor: pointer;
}

.line {
  background-color: var(--white);
  height: 5px;
  width: 100%;
  border-radius: 4px;
}

.small-nav {
  background-color: var(--dark);
  color: var(--white);
  padding: 2rem 0;
  align-items: center;
  display: block;
  text-align: center;
}

.small-nav-item {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

/* Generic Page footer */
.footer-container {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.footer-column {
  margin: 0 3rem;
}

.footer-column p {
  font-size: 1.25rem;
  margin-bottom: 6px;
}

.footer-column p span {
  border-bottom: 2px solid var(--yellow);
}

.footer-column ul li {
  margin-bottom: 2px;
  transition: transform 0.5s;
}
.footer-column ul li a {
  color: var(--white);
}

.footer-column ul li span {
  border-bottom: 2px solid transparent;
}

.footer-column ul li span:hover {
  border-bottom: 2px solid var(--yellow);
}

.footer-column ul li span:active {
  border-bottom: 2px solid var(--yellow);
}

.footer-column ul li:hover {
  transform: scale(1.1) translateX(4px);
}

.footer-column ul li:active {
  transform: scale(1.1);
}

/* Utility Classes */
.hide {
  display: none;
}

.error {
  border: 2px solid red;
  padding: 0.25rem;
  margin: 4px 0px;
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 6px;
}

.success {
  color: rgb(25, 135, 84);
  background-color: var(--white);
  border: 2px solid rgb(25, 135, 84);
  padding: 0.25rem;
  margin: 4px 0;
}

.btn-update {
  background-color: rgb(65, 105, 225);
  color: var(--white);
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  transition: all 0.2s;
}

.btn-update:hover {
  transform: translateY(-3px);
  background-color: rgba(65, 105, 225, 0.6);
}

.btn-update:active {
  transform: scale(0.9);
}

.btn-update:visited {
  color: var(--white);
}

.btn-delete {
  background-color: red;
  color: var(--white);
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 0.25rem 0;
  transition: all 0.2s;
}

.btn-delete:hover {
  transform: translateY(-3px);
  background-color: rgba(255, 0, 0, 0.6);
}

.btn-delete:active {
  transform: scale(0.9);
}

.btn-delete:visited {
  color: var(--white);
}

.form-group label {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.form-group input {
  width: 100%;
  font-size: 1rem;
  padding: 4px;
}

.form-group input:focus {
  outline: 1px solid var(--yellow);
  border: 1px solid var(--yellow);
  border-color: none;
}

.btn-light {
  background-color: var(--white);
  color: var(--pink);
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid transparent;
  transition: 0.2s all ease-out;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.btn-light:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.btn-light:active {
  transform: scale(0.9);
}

.btn-dark {
  background-color: var(--pink);
  color: var(--white);
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid transparent;
  transition: 0.2s all ease-out;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.btn-dark:hover {
  transform: translateY(-2px);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.btn-dark:active {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  #navbar {
    justify-content: space-between;
  }

  .nav-flex-item {
    margin: 0px;
  }

  .nav-flex-item:nth-of-type(2),
  .nav-flex-item:nth-of-type(3) {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-column:nth-of-type(1) {
    display: none;
  }
  .footer-column:nth-of-type(2) {
    display: none;
  }
  .footer-column label {
    font-size: 1.25rem;
  }
}
