<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headerlinks')%>
    <link rel="stylesheet" href="/css/pubcart.css" />
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('../partials/navbar')%></header>
    <h1>This is your shopping cart</h1>
    <section id="cart-display">
      <div class="cart-container">
        <div class="cart-items">
          <div class="item">
            <div class="item-img">
              <img
                src="https://images.unsplash.com/photo-1596755094514-f87e34085b2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2hpcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </div>
            <div class="item-info">
              <div>
                <p class="title mb">Product Name</p>
                <p class="price mb">
                  Product Price: <span class="success">$40.00</span>
                </p>
              </div>
              <div class="description">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
                  quia dolores consequatur nesciunt reprehenderit nobis cum ea
                  repellat at placeat!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="checkout-info">
          <div class="total">Total: <span id="totalDue">$50.00</span></div>
          <div class="shipping success">Order now for free shipping!</div>
          <div class="checkout">
            <form action="">
              <button class="btn-dark">Checkout</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%-include('../partials/footer')%> <%-include('../partials/bodyscripts')%>
    <script src="/js/pubcart.js"></script>
  </body>
</html>
